'use strict';

function get() {
    return {
        ENV: process.env.NODE_ENV,

        REGION: process.env.AWS_REGION,
        TABLENAME: '{{ knightwatcherbot_config_tablename }}',
        USERNAME_INDEX: '{{ knightwatcherbot_config_table_username_index }}',

        KNIGHTWATCHERBOT_TELEGRAM_API_KEY: '{{ knightwatcherbot_config_telegram_api_key }}',
        MEMORIESBOT_TELEGRAM_API_KEY: '{{ memoriesbot_config_telegram_api_key }}',
        KNIGHTWATCHERBOT_WEBHOOK_API_KEY: '{{ knightwatcherbot_config_telegram_webhook_api_key }}',
        MEMORIESBOT_WEBHOOK_API_KEY: '{{ memoriesbot_config_telegram_webhook_api_key }}',
        DEFAULT_NOTIFIER: {{ telegram_users.suddi.chat_id }}
    };
}

module.exports = {
    get: get
};
